pypinyin
tiktoken
socksio
tqdm
colorama
duckduckgo_search
Pygments
llama_index
langchain
markdown
markdown2
torch
SentencePiece

matplotlib

safetensors
scikit-image>=0.19
timm
tomesd
torchdiffeq
torchsde

GitPython
Pillow
accelerate

diffusers
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git

onnxruntime-gpu
ebooklib